/* ----- Variables ----- */
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
   --color-primary: #4c4c4c;
    --color-secondary: #a6a6a6;
    --color-highlight: #ff3f40;
    
      }
/* ----- Global ----- */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	/* display: grid; */
	/* grid-template-rows: 1fr; */
	font-family: "Raleway", sans-serif;
	/* background-color: #01e37f; */
}

h3 {
	font-size: 0.7em;
	letter-spacing: 1.2px;
	color: var(--color-secondary);
}

img {
			max-width: 100%;
			filter: drop-shadow(1px 1px 3px var(--color-secondary));
		}

/* ----- Product Section ----- */
.product {
	/* display: grid; */
	/* grid-template-columns: 0.9fr 1fr; */
	margin-top: 7em;
	/* padding: 2.5em 0; */
	/* min-width: 600px; */
	background-color: white;
	border-radius: 5px;
}

/* ----- Photo Section ----- */

.photo-container {
	position: absolute;
	/* left: -2.5em; */
	display: grid;
	/* grid-template-rows: 1fr; */
	width: 100%;
	height: 100%;
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
	border-radius: 6px 6px 0 0;
	/* background-color: #9be010; */
	/* background: radial-gradient(#e5f89e, #96e001); */
	
	.controls {
		margin-left:50px ;
		display: flex;
		justify-content: space-between;
		padding: 0.8em;
		color: #fff;
		
		i {
			cursor: pointer;
		}
	}
	
	/* img {
		position: absolute;
		/* left: -3.5em; */
		top: 2em;
		max-width: 100%;
        margin-top: 50px;
		/* filter: saturate(150%) contrast(120%) hue-rotate(10deg)
		drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3)); */
	} */


.photo-album {
	padding: 0.7em 1em;
	border-radius: 0 0 6px 6px;
	background-color: #fff;
	
	ul {
		display: flex;
		justify-content: space-around;
	}
	
	li {
		float: left;
		width: 55px;
		height: 55px;
		padding: 7px;
		border: 1px solid var(--color-secondary);
		border-radius: 3px;
	}
}

/* ----- Informations Section ----- */
.product__info {
	padding: 0.8em 0;
}

.title {
	h1 {
		margin-bottom: 0.1em;
		color: var(--color-primary);
		font-size: 1.5em;
		font-weight: 900;
	}
	
	span {
		font-size: 0.7em;
		color: var(--color-secondary);
	}
}

.price {
	margin: 1.5em 0;
	color: var(--color-highlight);
	font-size: 1.2em;
	
	span {
		padding-left: 0.15em;
		font-size: 2.9em;
	}
}

.variant {
	overflow: auto;
	
	h3 {
		margin-bottom: 1.1em;
	}
	
	li {
		float: left;
		width: 35px;
		height: 35px;
		padding: 3px;
		border: 1px solid transparent;
		border-radius: 3px;
		cursor: pointer;
		
		&:first-child,
		&:hover {
			border: 1px solid var(--color-secondary);
		}
	}
	
	li:not(:first-child) {
		margin-left: 0.1em;
	}
}

.description {
	clear: left;
	margin: 2em 0;
	
	h3 {
		margin-bottom: 1em;
	}
	
	ul {
		font-size: 0.8em;
		list-style: disc;
		margin-left: 1em;
	}
	
	li {
		text-indent: -0.6em;
		margin-bottom: 0.5em;
	}
}

.buy--btn {
	padding: 1.5em 3.1em;
	border: none;
	border-radius: 7px;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: var(--color-highlight);
	box-shadow: 2px 2px 25px -7px var(--color-primary);
	cursor: pointer;
	
	&:active {
		transform: scale(0.97);
	}
}


.productTitle {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	/* color: black; */
}
.productPhoto {
	/* position: relative; */
	/* margin-left:50px ; */
	width: 250px;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.phrase{
	font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.productPhotoDescription{
	 padding: 1em;
	/*border: 0.1em solid rgb(196, 173, 218);
	border-radius: 0.2em; */

}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter{
    width: 6em;
    border: 0.2em solid #673ab7;
    border-radius: 0.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.increment,.decrement,.value{
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.increment,.value{
    border-right: 1px solid #bc98fa;
}
.increment:hover,.decrement:hover{
    background-color: #bc98fa;
    color: white;
}
.productContent{
	display: grid;
	grid-template-rows: 15% 20% 15% 10% 10%;
}
.price{
	height: fit-content;
	width: 10em;
	color: #673ab7;
	font-weight: 500;
	font-size:x-large;
	margin: 0%;
}
.productTitle h1{
	margin: 0px;
}
.categoryContainer{
	font-size: x-small;
}
.addToCart{
	background-color: #673ab7;
	height: 3em;
	width: 15em;
	color: aliceblue;
	border-radius: 0.2em;
	/* align-self: center;
	justify-self: center; */
	
}
.addToCart:hover{
	background-color: whitesmoke;
	color: #673ab7;
	border: 1px solid #673ab7;

}
.descriptionContainer{
	height: fit-content;
	border: 0.1em solid rgb(196, 173, 218);
	border-radius: 0.2em;
}

.pincodeInputField {
	border: none;
	border-bottom:1px solid #673ab7;
	-webkit-user-select: none;
	user-select: none;
	-webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none; 
	
}
.pincodeInputField::selection{
	border:none;
	background: transparent;

}
.pincodeInputField::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
  }
.pincodeInputField:focus{
	outline:none;
	appearance: none; 

}